rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && (
          request.auth.token.role == 'admin'
          || request.auth.token.email in [
            'administracion@tecpoint.ws',
            'marketing@tecpoint.ws',
            'tecpointdistribucion2@gmail.com'
          ]
        );
    }
    match /users/{userId} {
      allow read: if isAdmin();
      allow write: if isAdmin() && request.auth.uid == userId;
    }

    match /Projects/{projectId} {
      allow read, write: if isAdmin();
    }

    match /Products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /site_banners/{bannerId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /flash_promotions/{promotionId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /site_settings/{settingId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
